body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card{
    width: 60%;
    max-width: 370px;
    background-color:rgba(255, 255, 255, 0.6);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background:#ebfffc;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    background: #ebfffc;
    border-radius: 50%;
    width:50px;
    height: 50px;
    cursor: pointer;
    
}
.search button img{
    width: 20px;
}
.weather-icons{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.weather h1{
    font-size: 40px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.weather-icons img{
    width: 10px;
    height: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size:20px;
    margin-top: -6px;
}
@media(max-width:500px)
{
    .weather-icons{
        width:100%;
        float:none;
    }
    .weather{
        width:100%;
        float:none;
    }                         
